.hero__left{
  width: 320px;
  height: 100% !important;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #253053;
}

.hero__right{
  width: 100%;
  padding-left: 320px;
}

.hero__header{
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
  min-height: 64px;
  padding: 0 24px;
  position: relative;
  z-index: 1000;
}

.hero__header-form{
  opacity: 0.6;
  padding: 4px 8px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  transition: all 0.3s ease;

  .bx{
    margin-right: 8px;
    font-size: 1.25rem;
  }

  &:hover{
    background-color: #f2f2f2;
  }
}

.hero__header-input{
  border: none;
  background-color: transparent;

  &:focus{
    outline: none;
  }
}

.hero__list{
  list-style: none;
}

.hero__header-btn{
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  font-size: 1.2rem;
  text-align: center;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  &:hover{
    background-color: #f4f4f4;
  }
}

.rounded-pill{
  font-size: 0.75rem;
  font-weight: 500;
}

.pill-blue{
  background-color: #333996 !important;
}

.hero__employee{
  padding: 32px;
  margin-bottom: 16px;
  background-color: #fdfdff;
}

.hero__employee-icon-box{
  color: #3c44b1;
  display: inline-block;
  padding: 16px;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  border-radius: 4px;

  svg{
    fill: #3c44b1;
    width: 1em;
    height: 1em;
    font-size: 2.1875rem;
  }
}

.hero__employee-box{
  padding-left: 32px;
}

.hero__employee-title{
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-bottom: 0;
}

.hero__employee-text{
  opacity: 0.6;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.hero__info{
  margin: 40px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  border-radius: 4px;
}

.hero__search-part{
  width: 75%;
  height: 60px;
  padding-left: 24px;
}

.hero__search-part-input{
  height: 100%;
  padding: 0 14px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;

  &:hover{
    border-color: #666;
  }

  .bx{
    font-size: 20px;
    margin-right: 8px;
  }
}

.search-label{
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(14px, -6px) scale(0.75);
  background-color: #fff;
  padding: 0 4px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.hero__searh-input-real{
  width: calc(100% - 30px);
  border: none;
  height: 100%;

  &:focus{
    outline: none;
  }
}

.hero__btn{
  border: 1px solid #333996 !important;
  background-color: transparent !important;
  padding: 7px 21px;
  font-size: 0.9375rem;
  margin: 4px;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: capitalize;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-56%);
  transition: all 0.3s ease;

  &:hover{
    background-color: rgba(51, 57, 150, 0.04) !important;
  }

  .bx{
    font-size: 20px;
    margin-left: -4px;
    margin-right: 8px;
  }
}

.hero__table{
  margin-top: 24px;
}

.modal-dialog{
  min-width: 960px;
}

.smth{
  padding: 16px 24px;
}

.hero__modal-box{
  padding: 16px 24px;
}

.hero__modal-radio{
  padding: 16px 24px;
}

.hero__modal-input-box{
  width: 80%;
  margin: 8px;

  input{
    padding: 18.5px 14px;
    width: 100%;
  }
}

.gender{
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
  margin: 5px;
}

.form-check{
  margin-bottom: 15px;
}

.input-department{
  padding: 18.5px 14px;
  margin-bottom: 15px;
}

input[type="date"]{
  width: 100%;
  padding: 18.5px 14px;
}

.date-class{
  margin-bottom: 15px;
}

.modal-submit-btn{
  background-color: rgb(35, 39, 105);
  box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
  margin: 4px;
  padding: 8px 22px;
  font-size: 0.9375rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.edit-submit{
  background-color: rgb(35, 39, 105);
  box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
  margin: 4px;
  padding: 8px 22px;
  font-size: 0.9375rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.modal-reset-btn{
  background-color: #f4f4f4;
  box-shadow: 0px 2px 4px -1px #00000033, 0px 4px 5px 0px #00000024, 0px 1px 10px 0px #0000001f;
  margin: 4px;
  padding: 8px 22px;
  font-size: 0.9375rem;
  color: #000;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
}

.hero__pen{
  border: none;
  border-radius: 4px;
  background-color: #3c44b126 !important;
  margin: 4px;
  padding: 6px 8px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  display: flex;
  align-items: center;
}

.hero__close{
  border: none;
  border-radius: 4px;
  background-color: #f8324526;
  margin: 4px;
  padding: 6px 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color:  #f83245;
}

th{
  color: #333996;
  font-weight: 500 !important;
  background-color: #3c44b126 !important;
  line-height: 1.5rem;
  padding: 16px !important;
  font-size: 0.875rem;
  letter-spacing: 0.01071em;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover{
    color: rgba(0, 0, 0, 0.54);

    .bx{
      color: rgba(0, 0, 0, 0.54);
      opacity: 1;
      z-index: 100;
    }
  }
}

td{
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px !important;
  font-size: 0.875rem;
  line-height: 3 !important;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
}

.head-btn{
   border: none;
   background-color: transparent;
   position: relative;
   top: 5px;

   .bx{
      font-size: 20px;
      transition: all 0.3s ease;
      opacity: 0;
      z-index: -999;
   }
}

tr{
  transition: all 0.3s ease;

  &:hover{
    background-color: #fffbf2;
    cursor: pointer;
  }
}

.hero__modal-input{
  &:focus{
    border: none;
    outline: 1px solid #000;
  }
}